#!/bin/sh

set -e

. /usr/share/debconf/confmodule

CONFFILE="/etc/default/tftpd-hpa"

if [ -e "${CONFFILE}" ]
then
	. ${CONFFILE} || true

	db_set tftpd-hpa/username "${TFTP_USERNAME}"
	db_set tftpd-hpa/directory "${TFTP_DIRECTORY}"
	db_set tftpd-hpa/address "${TFTP_ADDRESS}"
	db_set tftpd-hpa/options "${TFTP_OPTIONS}"
fi

db_input low tftpd-hpa/username || true
db_input low tftpd-hpa/directory || true
db_input low tftpd-hpa/address || true
db_input low tftpd-hpa/options || true
db_go

db_stop
